accelerate==1.12.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.84.0
antlr4-python3-runtime==4.9.3
anyio==4.12.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.2.0
attrs==25.4.0
Authlib==1.6.9
av==16.0.1
babel==2.18.0
backrefs==6.2
bandit==1.7.10
beautifulsoup4==4.14.3
black==24.10.0
bleach==6.3.0
blockbuster==1.5.26
boto3==1.42.9
botocore==1.42.9
brotli==1.2.0
build==1.4.0
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
comm==0.2.3
contourpy==1.3.3
coverage==7.13.4
cryptography==46.0.5
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
distlib==0.4.0
distro==1.9.0
doclayout_yolo==0.0.4
docstring_parser==0.17.0
docutils==0.22.4
dparse==0.6.4
EditorConfig==0.17.1
executing==2.2.1
fast-langdetect==0.2.5
fastapi==0.124.4
fastjsonschema==2.21.2
fasttext-predict==0.9.2.4
ffmpy==1.0.0
filelock==3.12.4
flake8==7.1.1
flatbuffers==25.9.23
fonttools==4.61.1
forbiddenfruit==0.1.4
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.12.0
ftfy==6.3.1
ghp-import==2.1.0
google-ai-generativelanguage==0.6.15
google-api-core==2.30.0
google-api-python-client==2.191.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
gradio==5.49.1
gradio_client==1.13.3
gradio_pdf==0.0.22
greenlet==3.3.0
groovy==0.1.2
grpcio==1.76.0
grpcio-status==1.71.2
grpcio-tools==1.75.1
h11==0.16.0
hf-xet==1.3.2
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
httpx-retries==0.4.5
httpx-sse==0.4.3
huggingface-hub==0.36.0
humanfriendly==10.0
id==1.6.1
identify==2.6.17
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.0
iniconfig==2.3.0
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==6.1.0
jaraco.functools==4.4.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.2
jsbeautifier==1.15.4
json5==0.13.0
json_repair==0.54.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jsonschema_rs==0.29.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keyring==25.7.0
kiwisolver==1.4.9
langchain==1.2.10
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.2.16
langchain-openai==1.1.10
langchain-text-splitters==1.0.0
langgraph==1.0.10
langgraph-api==0.5.42
langgraph-checkpoint==3.0.1
langgraph-cli==0.4.9
langgraph-prebuilt==1.0.8
langgraph-runtime-inmem==0.20.1
langgraph-sdk==0.3.0
langsmith==0.4.55
lark==1.3.1
lazy_loader==0.4
librt==0.8.1
line_profiler==5.0.2
loguru==0.7.3
magika==1.0.1
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.8
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
memory-profiler==0.61.0
mergedeep==1.3.4
mineru==2.6.7
mineru_vl_utils==0.1.17
mistune==3.2.0
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.49
mkdocs-material-extensions==1.3.1
mkdocs-mermaid2-plugin==1.2.3
modelscope==1.33.0
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.7.0
mypy==1.14.1
mypy_extensions==1.1.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
nh3==0.3.3
nltk==3.9.3
nodeenv==1.10.0
notebook==7.5.4
notebook_shim==0.2.4
numpy==2.4.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
onnxruntime==1.20.1
openai==2.24.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
orjson==3.11.5
ormsgpack==1.12.0
packaging==25.0
paginate==0.5.7
pandas==3.0.1
pandocfilters==1.5.1
parso==0.8.6
pathlib2==2.3.7.post1
pathspec==1.0.4
pdfminer.six==20250506
pdftext==0.6.3
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.9.2
pluggy==1.6.0
plum-dispatch==1.7.4
polars==1.36.1
polars-runtime-32==1.36.1
pre_commit==4.5.1
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.1
protobuf==5.29.6
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pyclipper==1.4.0
pycodestyle==2.12.1
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.19.2
PyJWT==2.10.1
pymdown-extensions==10.21
pyparsing==3.2.5
pypdf==6.4.1
pypdfium2==4.30.0
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-cov==6.0.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-discovery==1.1.0
python-dotenv==1.2.2
python-json-logger==4.0.0
python-multipart==0.0.20
pytokens==0.4.1
pytz==2025.2
PyYAML==6.0.3
pyyaml_env_tag==1.1
pyzmq==27.1.0
qwen-vl-utils==0.0.14
rarfile==4.2
readme_renderer==44.0
referencing==0.37.0
regex==2025.11.3
reportlab==4.4.6
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
robust-downloader==0.0.2
rpds-py==0.30.0
ruamel.yaml==0.19.1
ruff==0.8.6
s3transfer==0.16.0
safehttpx==0.1.7
safetensors==0.7.0
safety==3.2.11
safety-schemas==0.0.16
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
SecretStorage==3.5.0
semantic-version==2.10.0
Send2Trash==2.1.0
sentence-transformers==5.1.2
setuptools==82.0.0
shapely==2.1.2
shellingham==1.5.4
simsimd==6.5.3
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
spire-doc==13.12.0
SQLAlchemy==2.0.44
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.50.0
stevedore==5.7.0
stringzilla==4.4.0
structlog==25.5.0
sympy==1.14.0
tenacity==9.1.2
terminado==0.18.1
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.10.16
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.22.1
toml==0.10.2
tomlkit==0.13.3
torch==2.9.1
torchvision==0.24.1
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.3
triton==3.5.1
truststore==0.10.4
twine==6.2.0
typer==0.20.0
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20260107
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ultralytics==8.3.237
ultralytics-thop==2.0.18
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.6.2
uuid_utils==0.12.0
uv==0.9.17
uvicorn==0.38.0
virtualenv==21.1.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
wheel==0.46.3
widgetsnbextension==4.0.15
win32_setctime==1.2.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
